<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href="~/Content/Default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Default/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/materialadmin.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/libs/rickshaw/rickshaw.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/libs/morris/morris.core.css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NACC Nigeria</p>
        </footer>


        <!-- BEGIN JAVASCRIPT -->
        <script src="~/Scripts/js/libs/jquery/jquery-1.11.2.js"></script>
        <script src="~/Scripts/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/Scripts/js/libs/bootstrap/bootstrap.min.js"></script>
        <script src="~/Scripts/js/libs/spin.js/spin.js"></script>
        <script src="~/Scripts/js/libs/autosize/jquery.autosize.js"></script>
        <script src="~/Scripts/js/libs/moment/moment.js"></script>
        <script src="~/Scripts/js/libs/flot/jquery.flot.min.js"></script>
        <script src="~/Scripts/js/libs/flot/jquery.flot.time.js"></script>
        <script src="~/Scripts/js/libs/flot/jquery.flot.resize.js"></script>
        <script src="~/Scripts/js/libs/flot/jquery.flot.orderBars.js"></script>
        <script src="~/Scripts/js/libs/flot/jquery.flot.pie.js"></script>
        <script src="~/Scripts/js/libs/flot/curvedLines.js"></script>
        <script src="~/Scripts/js/libs/jquery-knob/jquery.knob.js"></script>
        <script src="~/Scripts/js/libs/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/Scripts/js/libs/nanoscroller/jquery.nanoscroller.js"></script>
        <script src="~/Scripts/js/libs/d3/d3.min.js"></script>
        <script src="~/Scripts/js/libs/d3/d3.v3.js"></script>
        <script src="~/Scripts/js/libs/rickshaw/rickshaw.js"></script>
        <script src="~/Scripts/js/core/source/App.js"></script>
        <script src="~/Scripts/js/core/source/AppNavigation.js"></script>
        <script src="~/Scripts/js/core/source/AppCard.js"></script>
        <script src="~/Scripts/js/core/source/AppOffcanvas.js"></script>
        <script src="~/Scripts/js/core/source/AppForm.js"></script>
        <script src="~/Scripts/js/core/source/AppNavSearch.js"></script>
        <script src="~/Scripts/js/core/source/AppVendor.js"></script>
        <script src="~/Scripts/js/core/demo/Demo.js"></script>
        <script src="~/Scripts/js/core/demo/DemoDashboard.js"></script>
        <!-- END JAVASCRIPT -->
    </div>
</body>
</html>
