@model NaccNig.Models.Blog.Comments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommentDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
