@model IEnumerable<NaccNig.Models.Blog.Comments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model) {
    <div class="comments-area" id="commentedPost">

    </div>
   
}


