<div class="head-block text-center">
    <h1>Congratulations</h1>
</div>
<div class="cnt-block">
    <div class="text-center">
        <p>
            <h5>
                <b>You have Registered Successfully, </b>
                <br />
                <br />

                Kindly Click
                <span class="text-success">
                    @Html.ActionLink("HERE", "ProfileUpdate", "PastMembers")
                </span> To Update your Profile.
            </h5>
            <br />

        </p>
    </div>
</div>
