@using Microsoft.AspNet.Identity
@using NaccNig.Models
@using NaccNigModels.PopUp
@{
    ViewBag.Title = "RegisterRedirection";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div class="row">
<div class="head-block text-center">
    <h1>Congratulations</h1>
</div>
<div class="cnt-block">
    <div class="text-center">
        <p>
            <h2>
                <b>Your <span class="success">NACC</span> Registration was Successful. </b>
                <br />
                <br />

                Kindly Click <span class="text-success">@Html.ActionLink("HERE","Login","Account")</span> To Login.
            </h2>
            <br />
            
        </p>
    </div>
</div>


</div>