@model NaccNigModels.PaymentSettings.FeeCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FeeCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeeCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
