@{ 
    Layout = "~/Views/Shared/LandingLayout.cshtml";
    ViewBag.Title = "HomePage";
}


<div class="contain-md">
    <div class="row">
        <div class="col-md-6">
            @ViewBag.Title;
        </div>
        <div class="col-md-6">
            @ViewBag.Title;
        </div>
    </div>

</div>