@{ 
    Layout = "~/Views/Shared/LandingPage.cshtml";
    ViewBag.Title = "NACCNigeria | Home";
}

    <!--Slider-->
    <div class="slider">
        <div class="callbacks_container w3l">
            <ul class="rslides" id="slider">
                <li>
                    <div class="slider-img w3-oneimg">
                    </div>
                    <div class="slider-info">
                        <h4 style="color:darkorange">Corps Members For Christ</h4>
                        <p>United in One Accord</p>

                    </div>
                </li>
                <li>
                    <div class="slider-img w3-twoimg">
                    </div>
                    <div class="slider-info">
                        <h4 style="color:violet">In the Love of Jesus Christ</h4>
                        <p>To Defend Our Unity Goals</p>
                    </div>
                </li>
                <li>
                    <div class="slider-img w3-threeimg">
                    </div>
                    <div class="slider-info">
                        <h4 style="color:chartreuse">We are United in One Accord</h4>
                        <p>To Defend Our Catholic Faith in all Situations</p>
                    </div>
                </li>
                <li>
                    <div class="slider-img w3-fourimg">
                    </div>
                    <div class="slider-info">
                        <h4 style="color:chartreuse">NACC Corps Members For Christ</h4>
                        <p>Faith and Service</p>
                    </div>
                </li>

            </ul>

        </div>
        <div class="clearfix"></div>
    </div>
    <!--//Slider-->
    <div class="about w3 " id="about">
        <div class="container">
            <h3 class="title-w3-agile">About</h3>
            <div class="col-sm-4 ser-grid">

                <div class="ser-top-w3layouts">
                    <div class="con hvr-shutter-in-horizontal">
                        <span class="fa fa-home" aria-hidden="true"></span>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-sm-4 ser-grid two">
                <div class="ser-top-w3layouts">
                    <div class="con hvr-shutter-in-horizontal">
                        <span class="fa fa-key" aria-hidden="true"></span>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-sm-4 ser-grid">
                <div class="ser-top-w3layouts">
                    <div class="con hvr-shutter-in-horizontal">
                        <span class="fa fa-money" aria-hidden="true"></span>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="about-top-grid ">
                <h4>
                    About us
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed odio consequat, tristique elit sed, molestie nulla.
                    Mauris et quam leo. Quisque tincidunt facilisis rutrum. Etiam mattis arcu vitae velit sagittis vehicula. Duis posuere
                    ex in mollis iaculis. Suspendisse tincidunt ut velit id euismod.vulputate turpis porta ex sodales, dignissim hendrerit
                    eros sagittis. Curabitur lacinia dui ut luctus congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis

                </p>
            </div>
        </div>
    </div>
 
    <!--news-->
    <div class="event-more" id="evennts">
        <div class="container">
            <h3 class="title-w3-agile">Blog</h3>
            <div class="w3_agile_grids">
                @foreach (var item in ViewBag.Blog)
    {
            <div class="col-md-4 col-sm-4 services-left">
                <div class="w3_agileits_events_grid" data-aos="zoom-in">
                    <div class="wthree_events_grid">
                        <div class="wthree_events_grid1">
                            <img src="images/g1.jpg" alt=" " class="img-responsive">
                        </div>
                        <div class="agileinfo_events_grid1">
                            <h5><a href="@Url.Action("Details","Posts",new { id=item.ID})">@item.Title</a></h5>
                            <p class="para-agileits-w3layouts">
                                @item.Body.Remove(150)
                            </p>
                            <div class="more-bttn">
                                <a href="@Url.Action("Details","Posts",new { id=item.ID})">Read more..</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
}


            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//news-->
    <div class="subscribe">
        <div class="container">
            <div class="rows">
                <div class="click">
                    <h3 class="title-w3-agile">Subscribe</h3>
                    <p>
                        consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi
                    </p>
                </div>


                <div class=" letter-sub">
                    <form action="#" method="post">
                        <div class="sub-email">
                            <input type="email" Name="email" placeholder="Email" required="">

                        </div>
                        <div class="send-button agileits w3layouts">
                            <button class="btn btn-primary">Click</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //subscribe -->
    <!--contact -->
    <div class="contact-top">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3745.657945920633!2d94.925709!3d20.148312999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30b7d19881308ae9%3A0x229dbaae31b864b9!2sZarmani!5e0!3m2!1sen!2sin!4v1419654909172"></iframe>
    </div>
    <div class="contact" id="contact">
        <div class="container">
            <h3 class="title-w3-agile">Contact Us</h3>
            <div class="contact-form">
                <form action="#" method="post">
                    <div class="col-md-6 col-sm-6 col-xs-6 left-way-w3">
                        <div class=" form-left">
                            <input type="text" Name="name" placeholder="Name" required="">
                        </div>
                        <div class=" form-left">
                            <input type="text" Name="last name" placeholder="Last Name" required="">
                            <div class="clearfix"> </div>
                        </div>
                        <div class=" form-right ">
                            <input class="email" type="email" Name="email" placeholder="Email" required="">
                        </div>
                        <div class="form-right phone">
                            <input type="text" Name="phone" placeholder="Phone" required="">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 right-way-w3">
                        <textarea placeholder="Message" required=""></textarea>
                        <input type="submit" value="Submit">
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>
    <!--//contact -->
    